<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.modules.sys.dao.TQuestionnaireDao" >
  <resultMap id="BaseResultMap" type="com.hp.modules.sys.entity.TQuestionnaire" >
    <id column="object_id" property="objectId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="anonymous" property="anonymous" jdbcType="TINYINT" />
    <result column="forward" property="forward" jdbcType="TINYINT" />
    <result column="repeated_answer" property="repeatedAnswer" jdbcType="TINYINT" />
    <result column="answer_count" property="answerCount" jdbcType="SMALLINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="questionnaire_desc" property="questionnaireDesc" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="TINYINT" />
    <result column="back_color" property="backColor" jdbcType="VARCHAR" />
    <result column="is_public" property="isPublic" jdbcType="TINYINT" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="star_num" property="starNum" jdbcType="INTEGER" />
    <result column="star_score" property="starScore" jdbcType="INTEGER" />
  </resultMap>

  <select id="StatisticsOnAll"  resultType="map" parameterType="Map" >

select tt3.*,tt4.choice_text from t_survey_answers tt4 right join
(
select
	tt1.subjectId subjectId,
	tt1.answerResult,
	tt1.count count,
	tt2.totalcount totalcount
	,CASE WHEN tt2.totalcount=0 then '0%' else ROUND(tt1.count*100/(tt2.totalcount),1) end resultPercentage
from
(SELECT
 t2.object_id subjectId,
	t1.answer_result answerResult,
	count(t1.answer_result) count
FROM
	t_user_answer_detail t1
	LEFT JOIN t_subject t2 ON t1.subject_id = t2.object_id
	left join t_user_answer t3 on t1.t_user_answer_id = t3.object_id
	where t2.type_id = ${params.subjectType} and t3.questionnaire_id = ${params.tQuestionnaireId}
	GROUP BY t1.answer_result,t1.subject_id) tt1 left join
		(select t4.subject_id subjectId,count(t4.subject_id) totalcount from t_user_answer_detail t4
		 left join t_user_answer t5 on t4.t_user_answer_id = t5.object_id
		  left join t_subject t6 on t6.object_id = t4.subject_id where t6.type_id = ${params.subjectType} and t5.questionnaire_id = ${params.tQuestionnaireId}
		  GROUP BY t4.subject_id)  tt2 on tt1.subjectId = tt2.subjectId
		) tt3 on tt4.object_id = tt3.answerResult
  </select>

  <select id="StatisticsOnTrue"  resultType="map" parameterType="Map" >
  SELECT
    t4.object_id subjectId,
    t4.subject_answer trueResult,
	  CASE WHEN count(t2.object_id)=0 then '0%' else	ROUND(sum(case when t4.subject_answer = t2.answer_result then 1 else 0 end) *100/count(t4.object_id),1)  end truePercentage
  FROM
		t_user_answer_detail t2
	LEFT JOIN t_user_answer t1 ON t1.object_id = t2.t_user_answer_id
	left join t_questionnaire t3 on t1.questionnaire_id = t3.object_id
	left join t_subject t4 on t4.object_id = t2.subject_id
	WHERE
	t1.questionnaire_id = ${params.tQuestionnaireId}
	AND t4.type_id = ${params.subjectType}
	GROUP BY t4.object_id

  </select>


    <select id="selectStatistics"  resultType="map" parameterType="Map" >
        SELECT
        t.title title,
        t.create_time createTime,
        t.end_time endTime,
        ( CASE WHEN now( ) <![CDATA[>=]]> t.end_time THEN '已截止' WHEN now( ) <![CDATA[<]]> t.end_time THEN '未截止' END ) isEnd,
        count( t2.object_id ) subjectCounts,
        count(DISTINCT t3.userId) userCounts,
        (case t.answer_count WHEN NULL THEN '无限制' ELSE t.answer_count end) answerCount
        FROM
        t_questionnaire t
        LEFT JOIN t_questionnaire_subject t2 ON t.object_id = t2.questionnaire_id 	AND t2.deleted = 0
        LEFT JOIN t_user_answer t3 on t.object_id = t3.questionnaire_id AND t3.deleted = 0
        WHERE
        t.deleted = 0
        GROUP BY
        t.object_id
        ORDER  BY
      <choose>
        <when test="params.sidx != null and params.sidx != ''">
          <choose>
            <when test="params.sidx == 'subjectCounts' or params.sidx == 'userCounts' or params.sidx == 'answerCount' or params.sidx == 'isEnd'">
              ${params.sidx} ${params.order}
            </when>
            <otherwise>
              t.${params.sidx} ${params.order}
            </otherwise>
          </choose>
        </when>
        <otherwise>
          t.object_id ${params.order}
        </otherwise>
      </choose>

        LIMIT ${params.currentCounts},${params.limit}
    </select>

    <select id="selectCountStatistics" resultType="int" parameterType="map" >
        SELECT
        count(*)
        FROM
        t_questionnaire t
        LEFT JOIN t_questionnaire_subject t2 ON t.object_id = t2.questionnaire_id 	AND t2.deleted = 0
        LEFT JOIN t_user_answer t3 on t.object_id = t3.questionnaire_id AND t3.deleted = 0
        WHERE
        t.deleted = 0
    </select>



  <select id="selectSubjectsByQID" resultType="com.hp.modules.sys.entity.TSubject" parameterType="java.lang.Long" >
    SELECT
    t2.object_id objectId,
    t2.name name,
    t2.type_id typeId
    FROM
    t_questionnaire_subject t1
    LEFT JOIN t_subject t2 ON t1.subject_id = t2.object_id

    WHERE
    t2.deleted = 0 AND
    t1.questionnaire_id = #{objectId}
  </select>


  <sql id="Base_Column_List" >
    object_id, create_time, create_user, update_time, update_user, deleted, anonymous,
    forward, repeated_answer, answer_count, title, questionnaire_desc, icon, cover, enable,
    back_color
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_questionnaire
    where object_id = #{objectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_questionnaire
    where object_id = #{objectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hp.modules.sys.entity.TQuestionnaire" >
    insert into t_questionnaire (object_id, create_time, create_user,
      update_time, update_user, deleted,
      anonymous, forward, repeated_answer,
      answer_count, title, questionnaire_desc,
      icon, cover, enable,
      back_color,is_public,start_time,end_time,questionnaire_is_top,star_num,star_score)
    values (#{objectId,jdbcType=BIGINT}, #{createTime,jdbcType=DATE}, #{createUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT},
      #{anonymous,jdbcType=TINYINT}, #{forward,jdbcType=TINYINT}, #{repeatedAnswer,jdbcType=TINYINT},
      #{answerCount,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{questionnaireDesc,jdbcType=VARCHAR},
      #{icon,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, #{enable,jdbcType=TINYINT},
      #{backColor,jdbcType=VARCHAR},#{isPublic,jdbcType=TINYINT},#{startTime,jdbcType=DATE},#{endTime,jdbcType=DATE},#{questionnaireIsTop,jdbcType=TINYINT},#{starNum,jdbcType=INTEGER},#{starScore,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hp.modules.sys.entity.TQuestionnaire" >
    insert into t_questionnaire
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="anonymous != null" >
        anonymous,
      </if>
      <if test="forward != null" >
        forward,
      </if>
      <if test="repeatedAnswer != null" >
        repeated_answer,
      </if>
      <if test="answerCount != null" >
        answer_count,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="questionnaireDesc != null" >
        questionnaire_desc,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="backColor != null" >
        back_color,
      </if>
        <if test="isPublic != null">
            is_public,
        </if>
        <if test="startTime">
            start_time
        </if>
        <if test="endTime">
            end_time
        </if>
        <if test="questionnaireIsTop">
            questionnaire_is_top
        </if>
        <if test="starNum">
            star_num
        </if>
        <if test="starScore">
            star_score
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="anonymous != null" >
        #{anonymous,jdbcType=TINYINT},
      </if>
      <if test="forward != null" >
        #{forward,jdbcType=TINYINT},
      </if>
      <if test="repeatedAnswer != null" >
        #{repeatedAnswer,jdbcType=TINYINT},
      </if>
      <if test="answerCount != null" >
        #{answerCount,jdbcType=SMALLINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="questionnaireDesc != null" >
        #{questionnaireDesc,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="backColor != null" >
        #{backColor,jdbcType=VARCHAR},
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=TINYINT},
      </if>
      <if test="startTime">
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="questionnaireIsTop">
        #{questionnaireIsTop,jdbcType=TINYINT},
      </if>
      <if test="starNum">
        #{starNum,jdbcType=INTEGER},
      </if>
      <if test="starScore">
        #{starScore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.modules.sys.entity.TQuestionnaire" >
    update t_questionnaire
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="anonymous != null" >
        anonymous = #{anonymous,jdbcType=TINYINT},
      </if>
      <if test="forward != null" >
        forward = #{forward,jdbcType=TINYINT},
      </if>
      <if test="repeatedAnswer != null" >
        repeated_answer = #{repeatedAnswer,jdbcType=TINYINT},
      </if>
      <if test="answerCount != null" >
        answer_count = #{answerCount,jdbcType=SMALLINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="questionnaireDesc != null" >
        questionnaire_desc = #{questionnaireDesc,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="backColor != null" >
        back_color = #{backColor,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.modules.sys.entity.TQuestionnaire" >
    update t_questionnaire
    set create_time = #{createTime,jdbcType=DATE},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT},
      anonymous = #{anonymous,jdbcType=TINYINT},
      forward = #{forward,jdbcType=TINYINT},
      repeated_answer = #{repeatedAnswer,jdbcType=TINYINT},
      answer_count = #{answerCount,jdbcType=SMALLINT},
      title = #{title,jdbcType=VARCHAR},
      questionnaire_desc = #{questionnaireDesc,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=TINYINT},
      back_color = #{backColor,jdbcType=VARCHAR}
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>

  <select id="selectByIdIsHaveTop" resultMap="BaseResultMap" parameterType="java.lang.Long">
      SELECT
        <include refid="Base_Column_List" />
      from t_questionnaire WHERE object_id != #{objectId,jdbcType=BIGINT} AND questionnaire_is_top = 1
  </select>

  <update id="updateTopById" parameterType="java.lang.Long">
    UPDATE t_questionnaire  set questionnaire_is_top = 1
    WHERE object_id = #{objectId,jdbcType=BIGINT}
  </update>

</mapper>