<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.modules.sys.dao.TSubjectDao" >
  <resultMap id="BaseResultMap" type="com.hp.modules.sys.entity.TSubject" >
    <id column="object_id" property="objectId" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="subject_answer" property="subjectAnswer" jdbcType="BIGINT" />
    <result column="grade_count" property="gradeCount" jdbcType="INTEGER" />
    <result column="every_grade_score" property="everyGradeScore" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    object_id, create_user, create_time, update_user, update_time, deleted, name, type_id, 
    subject_answer,grade_count,every_grade_score
  </sql>



  <select id="selectAnswersByQID" resultType="map" parameterType="java.lang.Long" >
    SELECT
      t2.object_id objectId,
      t2.name name,
      t2.type_id typeId,
	  t3.object_id answerId
    FROM
    t_questionnaire_subject t1
    LEFT JOIN t_subject t2 ON t1.subject_id = t2.object_id
		left join t_survey_answers t3 on t3.question_id = t2.object_id
    WHERE
		t2.deleted = 0 AND
		t3.deleted = 0 AND
    t1.questionnaire_id = #{objectId}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_subject
    where object_id = #{objectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_subject
    where object_id = #{objectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hp.modules.sys.entity.TSubject" >
    insert into t_subject (object_id, create_user, create_time, 
      update_user, update_time, deleted, 
      name, type_id, subject_answer,grade_count,every_grade_score
      )
    values (#{objectId,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, #{deleted,jdbcType=TINYINT}, 
      #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{subjectAnswer,jdbcType=BIGINT},#{gradeCount,jdbcType=INTEGER},#{everyGradeScore,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hp.modules.sys.entity.TSubject" useGeneratedKeys="true" keyProperty="objectId">
    insert into t_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="subjectAnswer != null" >
        subject_answer,
      </if>
      <if test="gradeCount != null" >
        grade_count,
      </if>
      <if test="everyGradeScore != null" >
        every_grade_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectId != null" >
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="subjectAnswer != null" >
        #{subjectAnswer,jdbcType=BIGINT},
      </if>
      <if test="gradeCount != null" >
        #{gradeCount,jdbcType=INTEGER},
      </if>
      <if test="everyGradeScore != null" >
        #{everyGradeScore,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.modules.sys.entity.TSubject" >
    update t_subject
    <set >
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="subjectAnswer != null" >
        subject_answer = #{subjectAnswer,jdbcType=BIGINT},
      </if>
      <if test="gradeCount != null" >
        grade_count = #{gradeCount,jdbcType=INTEGER},
      </if>
      <if test="everyGradeScore != null" >
        every_grade_score = #{everyGradeScore,jdbcType=VARCHAR},
      </if>
    </set>
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.modules.sys.entity.TSubject" >
    update t_subject
    set create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      deleted = #{deleted,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      subject_answer = #{subjectAnswer,jdbcType=BIGINT},
      grade_count = #{gradeCount,jdbcType=INTEGER},
      every_grade_score = #{everyGradeScore,jdbcType=VARCHAR}
    where object_id = #{objectId,jdbcType=BIGINT}
  </update>

    <select id="selectSubjectListByQuestionnaireId"   resultMap="BaseResultMap">
         SELECT
        <include refid="Base_Column_List" />
          FROM t_subject
          <where>
            <if test=" questionnaireId != null and questionnaireId !=-1 ">
              object_id
              in(
              SELECT subject_id FROM t_questionnaire_subject qs
              <trim prefix="where" prefixOverrides="and">
                <if test=" questionnaireId != null and questionnaireId !=-1 ">
                  and questionnaire_id = #{questionnaireId}
                </if>
              </trim>
              )
            </if>
            <if test="name != 'null'">
              and name LIKE '${name}%'
            </if>
          </where>


    </select>
</mapper>