<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.sale.mapper.ActBargainMapper" >
  <resultMap id="BaseResultMap" type="com.ym.sale.entity.ActBargain" >
    <id column="act_bargain_code" property="actBargainCode" jdbcType="VARCHAR" />
    <result column="act_bargain_name" property="actBargainName" jdbcType="VARCHAR" />
    <result column="act_bargain_desc" property="actBargainDesc" jdbcType="VARCHAR" />
    <result column="act_bargain_rule" property="actBargainRule" jdbcType="VARCHAR" />
    <result column="act_begin_time" property="actBeginTime" jdbcType="TIMESTAMP" />
    <result column="act_end_time" property="actEndTime" jdbcType="TIMESTAMP" />
    <result column="act_product_num" property="actProductNum" jdbcType="BIGINT" />
    <result column="act_product_price" property="actProductPrice" jdbcType="DECIMAL" />
    <result column="act_product_min_price" property="actProductMinPrice" jdbcType="DECIMAL" />
    <result column="bargain_min_num" property="bargainMinNum" jdbcType="INTEGER" />
    <result column="bargain_max_num" property="bargainMaxNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="bigger_bargain_min_price" property="biggerBargainMinPrice" jdbcType="DECIMAL" />
    <result column="bigger_bargain_max_price" property="biggerBargainMaxPrice" jdbcType="DECIMAL" />
    <result column="bargain_min_price" property="bargainMinPrice" jdbcType="DECIMAL" />
    <result column="bargain_max_price" property="bargainMaxPrice" jdbcType="DECIMAL" />
    <result column="bigger_bargin_min_num" property="biggerBarginMinNum" jdbcType="INTEGER" />
    <result column="bigger_bargin_max_num" property="biggerBarginMaxNum" jdbcType="INTEGER" />
    <result column="act_address" property="actAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    act_bargain_code, act_bargain_name, act_bargain_desc, act_bargain_rule, act_begin_time, 
    act_end_time, act_product_num, act_product_price, act_product_min_price, bargain_min_num, 
    bargain_max_num, create_time, update_time, bigger_bargain_min_price, bigger_bargain_max_price, 
    bargain_min_price, bargain_max_price, bigger_bargin_min_num, bigger_bargin_max_num, 
    act_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_bargain
    where act_bargain_code = #{actBargainCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from act_bargain
    where act_bargain_code = #{actBargainCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ym.sale.entity.ActBargain" >
    insert into act_bargain (act_bargain_code, act_bargain_name, act_bargain_desc, 
      act_bargain_rule, act_begin_time, act_end_time, 
      act_product_num, act_product_price, act_product_min_price, 
      bargain_min_num, bargain_max_num, create_time, 
      update_time, bigger_bargain_min_price, bigger_bargain_max_price, 
      bargain_min_price, bargain_max_price, bigger_bargin_min_num, 
      bigger_bargin_max_num, act_address)
    values (#{actBargainCode,jdbcType=VARCHAR}, #{actBargainName,jdbcType=VARCHAR}, #{actBargainDesc,jdbcType=VARCHAR}, 
      #{actBargainRule,jdbcType=VARCHAR}, #{actBeginTime,jdbcType=TIMESTAMP}, #{actEndTime,jdbcType=TIMESTAMP}, 
      #{actProductNum,jdbcType=BIGINT}, #{actProductPrice,jdbcType=DECIMAL}, #{actProductMinPrice,jdbcType=DECIMAL}, 
      #{bargainMinNum,jdbcType=INTEGER}, #{bargainMaxNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{biggerBargainMinPrice,jdbcType=DECIMAL}, #{biggerBargainMaxPrice,jdbcType=DECIMAL}, 
      #{bargainMinPrice,jdbcType=DECIMAL}, #{bargainMaxPrice,jdbcType=DECIMAL}, #{biggerBarginMinNum,jdbcType=INTEGER}, 
      #{biggerBarginMaxNum,jdbcType=INTEGER}, #{actAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ym.sale.entity.ActBargain" >
    insert into act_bargain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actBargainCode != null" >
        act_bargain_code,
      </if>
      <if test="actBargainName != null" >
        act_bargain_name,
      </if>
      <if test="actBargainDesc != null" >
        act_bargain_desc,
      </if>
      <if test="actBargainRule != null" >
        act_bargain_rule,
      </if>
      <if test="actBeginTime != null" >
        act_begin_time,
      </if>
      <if test="actEndTime != null" >
        act_end_time,
      </if>
      <if test="actProductNum != null" >
        act_product_num,
      </if>
      <if test="actProductPrice != null" >
        act_product_price,
      </if>
      <if test="actProductMinPrice != null" >
        act_product_min_price,
      </if>
      <if test="bargainMinNum != null" >
        bargain_min_num,
      </if>
      <if test="bargainMaxNum != null" >
        bargain_max_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="biggerBargainMinPrice != null" >
        bigger_bargain_min_price,
      </if>
      <if test="biggerBargainMaxPrice != null" >
        bigger_bargain_max_price,
      </if>
      <if test="bargainMinPrice != null" >
        bargain_min_price,
      </if>
      <if test="bargainMaxPrice != null" >
        bargain_max_price,
      </if>
      <if test="biggerBarginMinNum != null" >
        bigger_bargin_min_num,
      </if>
      <if test="biggerBarginMaxNum != null" >
        bigger_bargin_max_num,
      </if>
      <if test="actAddress != null" >
        act_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actBargainCode != null" >
        #{actBargainCode,jdbcType=VARCHAR},
      </if>
      <if test="actBargainName != null" >
        #{actBargainName,jdbcType=VARCHAR},
      </if>
      <if test="actBargainDesc != null" >
        #{actBargainDesc,jdbcType=VARCHAR},
      </if>
      <if test="actBargainRule != null" >
        #{actBargainRule,jdbcType=VARCHAR},
      </if>
      <if test="actBeginTime != null" >
        #{actBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actEndTime != null" >
        #{actEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actProductNum != null" >
        #{actProductNum,jdbcType=BIGINT},
      </if>
      <if test="actProductPrice != null" >
        #{actProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="actProductMinPrice != null" >
        #{actProductMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="bargainMinNum != null" >
        #{bargainMinNum,jdbcType=INTEGER},
      </if>
      <if test="bargainMaxNum != null" >
        #{bargainMaxNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="biggerBargainMinPrice != null" >
        #{biggerBargainMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="biggerBargainMaxPrice != null" >
        #{biggerBargainMaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="bargainMinPrice != null" >
        #{bargainMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="bargainMaxPrice != null" >
        #{bargainMaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="biggerBarginMinNum != null" >
        #{biggerBarginMinNum,jdbcType=INTEGER},
      </if>
      <if test="biggerBarginMaxNum != null" >
        #{biggerBarginMaxNum,jdbcType=INTEGER},
      </if>
      <if test="actAddress != null" >
        #{actAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.ActBargain" >
    update act_bargain
    <set >
      <if test="actBargainName != null" >
        act_bargain_name = #{actBargainName,jdbcType=VARCHAR},
      </if>
      <if test="actBargainDesc != null" >
        act_bargain_desc = #{actBargainDesc,jdbcType=VARCHAR},
      </if>
      <if test="actBargainRule != null" >
        act_bargain_rule = #{actBargainRule,jdbcType=VARCHAR},
      </if>
      <if test="actBeginTime != null" >
        act_begin_time = #{actBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actEndTime != null" >
        act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actProductNum != null" >
        act_product_num = #{actProductNum,jdbcType=BIGINT},
      </if>
      <if test="actProductPrice != null" >
        act_product_price = #{actProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="actProductMinPrice != null" >
        act_product_min_price = #{actProductMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="bargainMinNum != null" >
        bargain_min_num = #{bargainMinNum,jdbcType=INTEGER},
      </if>
      <if test="bargainMaxNum != null" >
        bargain_max_num = #{bargainMaxNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="biggerBargainMinPrice != null" >
        bigger_bargain_min_price = #{biggerBargainMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="biggerBargainMaxPrice != null" >
        bigger_bargain_max_price = #{biggerBargainMaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="bargainMinPrice != null" >
        bargain_min_price = #{bargainMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="bargainMaxPrice != null" >
        bargain_max_price = #{bargainMaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="biggerBarginMinNum != null" >
        bigger_bargin_min_num = #{biggerBarginMinNum,jdbcType=INTEGER},
      </if>
      <if test="biggerBarginMaxNum != null" >
        bigger_bargin_max_num = #{biggerBarginMaxNum,jdbcType=INTEGER},
      </if>
      <if test="actAddress != null" >
        act_address = #{actAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where act_bargain_code = #{actBargainCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.ActBargain" >
    update act_bargain
    set act_bargain_name = #{actBargainName,jdbcType=VARCHAR},
      act_bargain_desc = #{actBargainDesc,jdbcType=VARCHAR},
      act_bargain_rule = #{actBargainRule,jdbcType=VARCHAR},
      act_begin_time = #{actBeginTime,jdbcType=TIMESTAMP},
      act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
      act_product_num = #{actProductNum,jdbcType=BIGINT},
      act_product_price = #{actProductPrice,jdbcType=DECIMAL},
      act_product_min_price = #{actProductMinPrice,jdbcType=DECIMAL},
      bargain_min_num = #{bargainMinNum,jdbcType=INTEGER},
      bargain_max_num = #{bargainMaxNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      bigger_bargain_min_price = #{biggerBargainMinPrice,jdbcType=DECIMAL},
      bigger_bargain_max_price = #{biggerBargainMaxPrice,jdbcType=DECIMAL},
      bargain_min_price = #{bargainMinPrice,jdbcType=DECIMAL},
      bargain_max_price = #{bargainMaxPrice,jdbcType=DECIMAL},
      bigger_bargin_min_num = #{biggerBarginMinNum,jdbcType=INTEGER},
      bigger_bargin_max_num = #{biggerBarginMaxNum,jdbcType=INTEGER},
      act_address = #{actAddress,jdbcType=VARCHAR}
    where act_bargain_code = #{actBargainCode,jdbcType=VARCHAR}
  </update>
</mapper>