<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.sale.mapper.ActBargainRecordMapper">
	<resultMap id="BaseResultMap" type="com.ym.sale.entity.ActBargainRecord">
		<id column="bargain_record_code" property="bargainRecordCode"
			jdbcType="VARCHAR" />
		<result column="bargain_user_token" property="bargainUserToken"
			jdbcType="VARCHAR" />
		<result column="bargain_user_nc" property="bargainUserNc"
			jdbcType="VARCHAR" />
		<result column="bargain_price" property="bargainPrice"
			jdbcType="DECIMAL" />
		<result column="after_bargain_price" property="afterBargainPrice"
			jdbcType="DECIMAL" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="bargain_register_code" property="bargainRegisterCode"
			jdbcType="VARCHAR" />
		<result column="is_bigger_price" property="isBiggerPrice"
			jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		bargain_record_code, bargain_user_token, bargain_user_nc, bargain_price,
		after_bargain_price,
		create_time, bargain_register_code, is_bigger_price
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from act_bargain_record
		where bargain_record_code = #{bargainRecordCode,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from act_bargain_record
		where bargain_record_code = #{bargainRecordCode,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.ym.sale.entity.ActBargainRecord">
		insert into act_bargain_record (bargain_record_code,
		bargain_user_token,
		bargain_user_nc, bargain_price, after_bargain_price,
		create_time, bargain_register_code, is_bigger_price)
		values (#{bargainRecordCode,jdbcType=VARCHAR},
		#{bargainUserToken,jdbcType=VARCHAR},
		#{bargainUserNc,jdbcType=VARCHAR}, #{bargainPrice,jdbcType=DECIMAL},
		#{afterBargainPrice,jdbcType=DECIMAL},
		#{createTime,jdbcType=TIMESTAMP},
		#{bargainRegisterCode,jdbcType=VARCHAR},
		#{isBiggerPrice,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="com.ym.sale.entity.ActBargainRecord">
		insert into act_bargain_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bargainRecordCode != null">
				bargain_record_code,
			</if>
			<if test="bargainUserToken != null">
				bargain_user_token,
			</if>
			<if test="bargainUserNc != null">
				bargain_user_nc,
			</if>
			<if test="bargainPrice != null">
				bargain_price,
			</if>
			<if test="afterBargainPrice != null">
				after_bargain_price,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="bargainRegisterCode != null">
				bargain_register_code,
			</if>
			<if test="isBiggerPrice != null">
				is_bigger_price,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bargainRecordCode != null">
				#{bargainRecordCode,jdbcType=VARCHAR},
			</if>
			<if test="bargainUserToken != null">
				#{bargainUserToken,jdbcType=VARCHAR},
			</if>
			<if test="bargainUserNc != null">
				#{bargainUserNc,jdbcType=VARCHAR},
			</if>
			<if test="bargainPrice != null">
				#{bargainPrice,jdbcType=DECIMAL},
			</if>
			<if test="afterBargainPrice != null">
				#{afterBargainPrice,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bargainRegisterCode != null">
				#{bargainRegisterCode,jdbcType=VARCHAR},
			</if>
			<if test="isBiggerPrice != null">
				#{isBiggerPrice,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.ActBargainRecord">
		update act_bargain_record
		<set>
			<if test="bargainUserToken != null">
				bargain_user_token = #{bargainUserToken,jdbcType=VARCHAR},
			</if>
			<if test="bargainUserNc != null">
				bargain_user_nc = #{bargainUserNc,jdbcType=VARCHAR},
			</if>
			<if test="bargainPrice != null">
				bargain_price = #{bargainPrice,jdbcType=DECIMAL},
			</if>
			<if test="afterBargainPrice != null">
				after_bargain_price = #{afterBargainPrice,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bargainRegisterCode != null">
				bargain_register_code = #{bargainRegisterCode,jdbcType=VARCHAR},
			</if>
			<if test="isBiggerPrice != null">
				is_bigger_price = #{isBiggerPrice,jdbcType=BIT},
			</if>
		</set>
		where bargain_record_code = #{bargainRecordCode,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.ActBargainRecord">
		update act_bargain_record
		set bargain_user_token = #{bargainUserToken,jdbcType=VARCHAR},
		bargain_user_nc = #{bargainUserNc,jdbcType=VARCHAR},
		bargain_price = #{bargainPrice,jdbcType=DECIMAL},
		after_bargain_price = #{afterBargainPrice,jdbcType=DECIMAL},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		bargain_register_code = #{bargainRegisterCode,jdbcType=VARCHAR},
		is_bigger_price = #{isBiggerPrice,jdbcType=BIT}
		where bargain_record_code = #{bargainRecordCode,jdbcType=VARCHAR}
	</update>
	<select id="selectActBargainRecordListBtRegisterCode"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from act_bargain_record where bargain_register_code =
		#{bargainRegisterCode,jdbcType=VARCHAR} order by create_time DESC
	</select>
	<select id="selectBargainRecordCountByRegisterCode"
		parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from act_bargain_record where bargain_register_code =
		#{bargainRegisterCode,jdbcType=VARCHAR}
	</select>
	<select id="selectBargainRecordCountByToken" resultType="java.lang.Integer">
		select count(1) from act_bargain_record where bargain_register_code =
		#{bargainRegisterCode,jdbcType=VARCHAR} and bargain_user_token =
		#{openId,jdbcType=VARCHAR}
	</select>
</mapper>