<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.sale.mapper.ActThumbsUpMapper">
  <resultMap id="BaseResultMap" type="com.ym.sale.entity.ActThumbsUp">
    <id column="act_thumbs_up_code" jdbcType="VARCHAR" property="actThumbsUpCode" />
    <result column="act_thumbs_up_name" jdbcType="VARCHAR" property="actThumbsUpName" />
    <result column="act_thumbs_up_desc" jdbcType="VARCHAR" property="actThumbsUpDesc" />
    <result column="act_thumbs_up_role" jdbcType="VARCHAR" property="actThumbsUpRole" />
    <result column="act_begin_time" jdbcType="TIMESTAMP" property="actBeginTime" />
    <result column="act_end_time" jdbcType="TIMESTAMP" property="actEndTime" />
    <result column="act_product_num" jdbcType="BIGINT" property="actProductNum" />
    <result column="act_product_price" jdbcType="DECIMAL" property="actProductPrice" />
    <result column="act_product_min_price" jdbcType="DECIMAL" property="actProductMinPrice" />
    <result column="thumbs_up_max_num" jdbcType="INTEGER" property="thumbsUpMaxNum" />
    <result column="thumbs_up_max_price" jdbcType="DECIMAL" property="thumbsUpMaxPrice" />
    <result column="thumbs_up_price" jdbcType="DECIMAL" property="thumbsUpPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="act_address" jdbcType="VARCHAR" property="actAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    act_thumbs_up_code, act_thumbs_up_name, act_thumbs_up_desc, act_thumbs_up_role, act_begin_time, 
    act_end_time, act_product_num, act_product_price, act_product_min_price, thumbs_up_max_num, 
    thumbs_up_max_price, thumbs_up_price, create_time, update_time, act_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_thumbs_up
    where act_thumbs_up_code = #{actThumbsUpCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_thumbs_up
    where act_thumbs_up_code = #{actThumbsUpCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ym.sale.entity.ActThumbsUp">
    insert into act_thumbs_up (act_thumbs_up_code, act_thumbs_up_name, 
      act_thumbs_up_desc, act_thumbs_up_role, act_begin_time, 
      act_end_time, act_product_num, act_product_price, 
      act_product_min_price, thumbs_up_max_num, thumbs_up_max_price, 
      thumbs_up_price, create_time, update_time, 
      act_address)
    values (#{actThumbsUpCode,jdbcType=VARCHAR}, #{actThumbsUpName,jdbcType=VARCHAR}, 
      #{actThumbsUpDesc,jdbcType=VARCHAR}, #{actThumbsUpRole,jdbcType=VARCHAR}, #{actBeginTime,jdbcType=TIMESTAMP}, 
      #{actEndTime,jdbcType=TIMESTAMP}, #{actProductNum,jdbcType=BIGINT}, #{actProductPrice,jdbcType=DECIMAL}, 
      #{actProductMinPrice,jdbcType=DECIMAL}, #{thumbsUpMaxNum,jdbcType=INTEGER}, #{thumbsUpMaxPrice,jdbcType=DECIMAL}, 
      #{thumbsUpPrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{actAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ym.sale.entity.ActThumbsUp">
    insert into act_thumbs_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actThumbsUpCode != null">
        act_thumbs_up_code,
      </if>
      <if test="actThumbsUpName != null">
        act_thumbs_up_name,
      </if>
      <if test="actThumbsUpDesc != null">
        act_thumbs_up_desc,
      </if>
      <if test="actThumbsUpRole != null">
        act_thumbs_up_role,
      </if>
      <if test="actBeginTime != null">
        act_begin_time,
      </if>
      <if test="actEndTime != null">
        act_end_time,
      </if>
      <if test="actProductNum != null">
        act_product_num,
      </if>
      <if test="actProductPrice != null">
        act_product_price,
      </if>
      <if test="actProductMinPrice != null">
        act_product_min_price,
      </if>
      <if test="thumbsUpMaxNum != null">
        thumbs_up_max_num,
      </if>
      <if test="thumbsUpMaxPrice != null">
        thumbs_up_max_price,
      </if>
      <if test="thumbsUpPrice != null">
        thumbs_up_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="actAddress != null">
        act_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actThumbsUpCode != null">
        #{actThumbsUpCode,jdbcType=VARCHAR},
      </if>
      <if test="actThumbsUpName != null">
        #{actThumbsUpName,jdbcType=VARCHAR},
      </if>
      <if test="actThumbsUpDesc != null">
        #{actThumbsUpDesc,jdbcType=VARCHAR},
      </if>
      <if test="actThumbsUpRole != null">
        #{actThumbsUpRole,jdbcType=VARCHAR},
      </if>
      <if test="actBeginTime != null">
        #{actBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actEndTime != null">
        #{actEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actProductNum != null">
        #{actProductNum,jdbcType=BIGINT},
      </if>
      <if test="actProductPrice != null">
        #{actProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="actProductMinPrice != null">
        #{actProductMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="thumbsUpMaxNum != null">
        #{thumbsUpMaxNum,jdbcType=INTEGER},
      </if>
      <if test="thumbsUpMaxPrice != null">
        #{thumbsUpMaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="thumbsUpPrice != null">
        #{thumbsUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actAddress != null">
        #{actAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.ActThumbsUp">
    update act_thumbs_up
    <set>
      <if test="actThumbsUpName != null">
        act_thumbs_up_name = #{actThumbsUpName,jdbcType=VARCHAR},
      </if>
      <if test="actThumbsUpDesc != null">
        act_thumbs_up_desc = #{actThumbsUpDesc,jdbcType=VARCHAR},
      </if>
      <if test="actThumbsUpRole != null">
        act_thumbs_up_role = #{actThumbsUpRole,jdbcType=VARCHAR},
      </if>
      <if test="actBeginTime != null">
        act_begin_time = #{actBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actEndTime != null">
        act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actProductNum != null">
        act_product_num = #{actProductNum,jdbcType=BIGINT},
      </if>
      <if test="actProductPrice != null">
        act_product_price = #{actProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="actProductMinPrice != null">
        act_product_min_price = #{actProductMinPrice,jdbcType=DECIMAL},
      </if>
      <if test="thumbsUpMaxNum != null">
        thumbs_up_max_num = #{thumbsUpMaxNum,jdbcType=INTEGER},
      </if>
      <if test="thumbsUpMaxPrice != null">
        thumbs_up_max_price = #{thumbsUpMaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="thumbsUpPrice != null">
        thumbs_up_price = #{thumbsUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actAddress != null">
        act_address = #{actAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where act_thumbs_up_code = #{actThumbsUpCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.ActThumbsUp">
    update act_thumbs_up
    set act_thumbs_up_name = #{actThumbsUpName,jdbcType=VARCHAR},
      act_thumbs_up_desc = #{actThumbsUpDesc,jdbcType=VARCHAR},
      act_thumbs_up_role = #{actThumbsUpRole,jdbcType=VARCHAR},
      act_begin_time = #{actBeginTime,jdbcType=TIMESTAMP},
      act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
      act_product_num = #{actProductNum,jdbcType=BIGINT},
      act_product_price = #{actProductPrice,jdbcType=DECIMAL},
      act_product_min_price = #{actProductMinPrice,jdbcType=DECIMAL},
      thumbs_up_max_num = #{thumbsUpMaxNum,jdbcType=INTEGER},
      thumbs_up_max_price = #{thumbsUpMaxPrice,jdbcType=DECIMAL},
      thumbs_up_price = #{thumbsUpPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      act_address = #{actAddress,jdbcType=VARCHAR}
    where act_thumbs_up_code = #{actThumbsUpCode,jdbcType=VARCHAR}
  </update>
</mapper>