<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.sale.mapper.ActThumbsUpRegisterMapper">
  <resultMap id="BaseResultMap" type="com.ym.sale.entity.ActThumbsUpRegister">
    <id column="thumbs_up_register_code" jdbcType="VARCHAR" property="thumbsUpRegisterCode" />
    <result column="act_thumbs_up_code" jdbcType="VARCHAR" property="actThumbsUpCode" />
    <result column="thumbs_up_join_token" jdbcType="VARCHAR" property="thumbsUpJoinToken" />
    <result column="thumbs_up_join_nc" jdbcType="VARCHAR" property="thumbsUpJoinNc" />
    <result column="act_product_price" jdbcType="DECIMAL" property="actProductPrice" />
    <result column="act_product_color" jdbcType="INTEGER" property="actProductColor" />
    <result column="after_thumbs_up_price" jdbcType="DECIMAL" property="afterThumbsUpPrice" />
    <result column="act_end_time" jdbcType="TIMESTAMP" property="actEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status_code" jdbcType="INTEGER" property="statusCode" />
    <result column="thumbs_up_num" jdbcType="INTEGER" property="thumbsUpNum" />
    <result column="is_self_thumbs_up" jdbcType="BIT" property="isSelfThumbsUp" />
  </resultMap>
  <sql id="Base_Column_List">
    thumbs_up_register_code, act_thumbs_up_code, thumbs_up_join_token, thumbs_up_join_nc, 
    act_product_price, act_product_color, after_thumbs_up_price, act_end_time, create_time, 
    update_time, status_code, thumbs_up_num, is_self_thumbs_up, is_register_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_thumbs_up_register
    where thumbs_up_register_code = #{thumbsUpRegisterCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_thumbs_up_register
    where thumbs_up_register_code = #{thumbsUpRegisterCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ym.sale.entity.ActThumbsUpRegister">
    insert into act_thumbs_up_register (thumbs_up_register_code, act_thumbs_up_code, 
      thumbs_up_join_token, thumbs_up_join_nc, act_product_price, 
      act_product_color, after_thumbs_up_price, act_end_time, 
      create_time, update_time, status_code, 
      thumbs_up_num, is_self_thumbs_up
      )
    values (#{thumbsUpRegisterCode,jdbcType=VARCHAR}, #{actThumbsUpCode,jdbcType=VARCHAR}, 
      #{thumbsUpJoinToken,jdbcType=VARCHAR}, #{thumbsUpJoinNc,jdbcType=VARCHAR}, #{actProductPrice,jdbcType=DECIMAL}, 
      #{actProductColor,jdbcType=INTEGER}, #{afterThumbsUpPrice,jdbcType=DECIMAL}, #{actEndTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{statusCode,jdbcType=INTEGER}, 
      #{thumbsUpNum,jdbcType=INTEGER}, #{isSelfThumbsUp,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ym.sale.entity.ActThumbsUpRegister">
    insert into act_thumbs_up_register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thumbsUpRegisterCode != null">
        thumbs_up_register_code,
      </if>
      <if test="actThumbsUpCode != null">
        act_thumbs_up_code,
      </if>
      <if test="thumbsUpJoinToken != null">
        thumbs_up_join_token,
      </if>
      <if test="thumbsUpJoinNc != null">
        thumbs_up_join_nc,
      </if>
      <if test="actProductPrice != null">
        act_product_price,
      </if>
      <if test="actProductColor != null">
        act_product_color,
      </if>
      <if test="afterThumbsUpPrice != null">
        after_thumbs_up_price,
      </if>
      <if test="actEndTime != null">
        act_end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="statusCode != null">
        status_code,
      </if>
      <if test="thumbsUpNum != null">
        thumbs_up_num,
      </if>
      <if test="isSelfThumbsUp != null">
        is_self_thumbs_up,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thumbsUpRegisterCode != null">
        #{thumbsUpRegisterCode,jdbcType=VARCHAR},
      </if>
      <if test="actThumbsUpCode != null">
        #{actThumbsUpCode,jdbcType=VARCHAR},
      </if>
      <if test="thumbsUpJoinToken != null">
        #{thumbsUpJoinToken,jdbcType=VARCHAR},
      </if>
      <if test="thumbsUpJoinNc != null">
        #{thumbsUpJoinNc,jdbcType=VARCHAR},
      </if>
      <if test="actProductPrice != null">
        #{actProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="actProductColor != null">
        #{actProductColor,jdbcType=INTEGER},
      </if>
      <if test="afterThumbsUpPrice != null">
        #{afterThumbsUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="actEndTime != null">
        #{actEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCode != null">
        #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="thumbsUpNum != null">
        #{thumbsUpNum,jdbcType=INTEGER},
      </if>
      <if test="isSelfThumbsUp != null">
        #{isSelfThumbsUp,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.ActThumbsUpRegister">
    update act_thumbs_up_register
    <set>
      <if test="actThumbsUpCode != null">
        act_thumbs_up_code = #{actThumbsUpCode,jdbcType=VARCHAR},
      </if>
      <if test="thumbsUpJoinToken != null">
        thumbs_up_join_token = #{thumbsUpJoinToken,jdbcType=VARCHAR},
      </if>
      <if test="thumbsUpJoinNc != null">
        thumbs_up_join_nc = #{thumbsUpJoinNc,jdbcType=VARCHAR},
      </if>
      <if test="actProductPrice != null">
        act_product_price = #{actProductPrice,jdbcType=DECIMAL},
      </if>
      <if test="actProductColor != null">
        act_product_color = #{actProductColor,jdbcType=INTEGER},
      </if>
      <if test="afterThumbsUpPrice != null">
        after_thumbs_up_price = #{afterThumbsUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="actEndTime != null">
        act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCode != null">
        status_code = #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="thumbsUpNum != null">
        thumbs_up_num = #{thumbsUpNum,jdbcType=INTEGER},
      </if>
      <if test="isSelfThumbsUp != null">
        is_self_thumbs_up = #{isSelfThumbsUp,jdbcType=BIT},
      </if>
    </set>
    where thumbs_up_register_code = #{thumbsUpRegisterCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.ActThumbsUpRegister">
    update act_thumbs_up_register
    set act_thumbs_up_code = #{actThumbsUpCode,jdbcType=VARCHAR},
      thumbs_up_join_token = #{thumbsUpJoinToken,jdbcType=VARCHAR},
      thumbs_up_join_nc = #{thumbsUpJoinNc,jdbcType=VARCHAR},
      act_product_price = #{actProductPrice,jdbcType=DECIMAL},
      act_product_color = #{actProductColor,jdbcType=INTEGER},
      after_thumbs_up_price = #{afterThumbsUpPrice,jdbcType=DECIMAL},
      act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status_code = #{statusCode,jdbcType=INTEGER},
      thumbs_up_num = #{thumbsUpNum,jdbcType=INTEGER},
      is_self_thumbs_up = #{isSelfThumbsUp,jdbcType=BIT}
    where thumbs_up_register_code = #{thumbsUpRegisterCode,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectlistByStatus"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_thumbs_up_register
    where thumbs_up_join_token = #{openId,jdbcType=VARCHAR}  
         and
		status_code in
	     <foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
		order by create_time DESC
  </select>
  
</mapper>