<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.sale.mapper.BusinessUserMapper" >
  <resultMap id="BaseResultMap" type="com.ym.sale.entity.BusinessUser" >
    <id column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="business_phone" property="businessPhone" jdbcType="VARCHAR" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="business_level" property="businessLevel" jdbcType="INTEGER" />
    <result column="prefirst_business_code" property="prefirstBusinessCode" jdbcType="VARCHAR" />
    <result column="presecond_business_code" property="presecondBusinessCode" jdbcType="VARCHAR" />
    <result column="wx_num" property="wxNum" jdbcType="VARCHAR" />
    <result column="wx_nc" property="wxNc" jdbcType="VARCHAR" />
    <result column="wx_token" property="wxToken" jdbcType="VARCHAR" />
    <result column="wm2_code" property="wm2Code" jdbcType="VARCHAR" />
    <result column="status_code" property="statusCode" jdbcType="INTEGER" />
    <result column="account_balance" property="accountBalance" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    business_code, business_phone, business_name, business_level, prefirst_business_code, 
    presecond_business_code, wx_num, wx_nc, wx_token, wm2_code, status_code, account_balance, 
    update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_user
    where business_code = #{businessCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUserInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_user
    where business_code = #{businessCode,jdbcType=VARCHAR}
    and  business_level=#{businessLevel,jdbcType=INTEGER}
  </select>
  
  <!-- 查询用户信息 -->
    <select id="selectUserList" resultMap="BaseResultMap" parameterType="com.ym.sale.entity.BusinessUser" >
    select 
    <include refid="Base_Column_List" />
    from business_user
    where 1=1 
       <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessPhone != null" >
        #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessLevel != null" >
        #{businessLevel,jdbcType=INTEGER},
      </if>
      <if test="prefirstBusinessCode != null" >
        #{prefirstBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="presecondBusinessCode != null" >
        #{presecondBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="wxNum != null" >
        #{wxNum,jdbcType=VARCHAR},
      </if>
      <if test="wxNc != null" >
        #{wxNc,jdbcType=VARCHAR},
      </if>
      <if test="wxToken != null" >
        #{wxToken,jdbcType=VARCHAR},
      </if>
      <if test="wm2Code != null" >
        #{wm2Code,jdbcType=VARCHAR},
      </if>
      <if test="statusCode != null" >
        #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="accountBalance != null" >
        #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    
    
 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from business_user
    where business_code = #{businessCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ym.sale.entity.BusinessUser" >
    insert into business_user (business_code, business_phone, business_name, 
      business_level, prefirst_business_code, presecond_business_code, 
      wx_num, wx_nc, wx_token, 
      wm2_code, status_code, account_balance, 
      update_time, create_time)
    values (#{businessCode,jdbcType=VARCHAR}, #{businessPhone,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, 
      #{businessLevel,jdbcType=INTEGER}, #{prefirstBusinessCode,jdbcType=VARCHAR}, #{presecondBusinessCode,jdbcType=VARCHAR}, 
      #{wxNum,jdbcType=VARCHAR}, #{wxNc,jdbcType=VARCHAR}, #{wxToken,jdbcType=VARCHAR}, 
      #{wm2Code,jdbcType=VARCHAR}, #{statusCode,jdbcType=INTEGER}, #{accountBalance,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ym.sale.entity.BusinessUser" >
    insert into business_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="businessPhone != null" >
        business_phone,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="businessLevel != null" >
        business_level,
      </if>
      <if test="prefirstBusinessCode != null" >
        prefirst_business_code,
      </if>
      <if test="presecondBusinessCode != null" >
        presecond_business_code,
      </if>
      <if test="wxNum != null" >
        wx_num,
      </if>
      <if test="wxNc != null" >
        wx_nc,
      </if>
      <if test="wxToken != null" >
        wx_token,
      </if>
      <if test="wm2Code != null" >
        wm2_code,
      </if>
      <if test="statusCode != null" >
        status_code,
      </if>
      <if test="accountBalance != null" >
        account_balance,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessPhone != null" >
        #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessLevel != null" >
        #{businessLevel,jdbcType=INTEGER},
      </if>
      <if test="prefirstBusinessCode != null" >
        #{prefirstBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="presecondBusinessCode != null" >
        #{presecondBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="wxNum != null" >
        #{wxNum,jdbcType=VARCHAR},
      </if>
      <if test="wxNc != null" >
        #{wxNc,jdbcType=VARCHAR},
      </if>
      <if test="wxToken != null" >
        #{wxToken,jdbcType=VARCHAR},
      </if>
      <if test="wm2Code != null" >
        #{wm2Code,jdbcType=VARCHAR},
      </if>
      <if test="statusCode != null" >
        #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="accountBalance != null" >
        #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.BusinessUser" >
    update business_user
    <set >
      <if test="businessPhone != null" >
        business_phone = #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessLevel != null" >
        business_level = #{businessLevel,jdbcType=INTEGER},
      </if>
      <if test="prefirstBusinessCode != null" >
        prefirst_business_code = #{prefirstBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="presecondBusinessCode != null" >
        presecond_business_code = #{presecondBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="wxNum != null" >
        wx_num = #{wxNum,jdbcType=VARCHAR},
      </if>
      <if test="wxNc != null" >
        wx_nc = #{wxNc,jdbcType=VARCHAR},
      </if>
      <if test="wxToken != null" >
        wx_token = #{wxToken,jdbcType=VARCHAR},
      </if>
      <if test="wm2Code != null" >
        wm2_code = #{wm2Code,jdbcType=VARCHAR},
      </if>
      <if test="statusCode != null" >
        status_code = #{statusCode,jdbcType=INTEGER},
      </if>
      <if test="accountBalance != null" >
        account_balance = #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where business_code = #{businessCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.BusinessUser" >
    update business_user
    set business_phone = #{businessPhone,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      business_level = #{businessLevel,jdbcType=INTEGER},
      prefirst_business_code = #{prefirstBusinessCode,jdbcType=VARCHAR},
      presecond_business_code = #{presecondBusinessCode,jdbcType=VARCHAR},
      wx_num = #{wxNum,jdbcType=VARCHAR},
      wx_nc = #{wxNc,jdbcType=VARCHAR},
      wx_token = #{wxToken,jdbcType=VARCHAR},
      wm2_code = #{wm2Code,jdbcType=VARCHAR},
      status_code = #{statusCode,jdbcType=INTEGER},
      account_balance = #{accountBalance,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where business_code = #{businessCode,jdbcType=VARCHAR}
  </update>
  <select id="selectWM2ByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
 	select business_code,status_code,wm2_code ,account_balance from business_user where wx_token = #{token,jdbcType=VARCHAR}
  </select>
  <select id= "selectUserCodeByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select business_code,status_code,wx_token from business_user where wx_token = #{token,jdbcType=VARCHAR}
  </select>
  <select id="selectParentUserInfoByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select business_code,wx_token,business_name,business_level,prefirst_business_code from business_user where business_code = #{businessCode,jdbcType=VARCHAR}
  </select>
  <select id="selectBusinessUserListByBusinessUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from business_user where prefirst_business_code = #{businessCode,jdbcType=VARCHAR} and status_code = 2
  </select>
  <select id="selectSecondBusinessUserListByBusinessUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from business_user where presecond_business_code = #{businessCode,jdbcType=VARCHAR} and status_code = 2
  </select>
  <select id="selectUserDetailsByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from business_user where wx_token = #{token,jdbcType=VARCHAR}
  </select>
  <select id="selectUserRebateInfoByBusinessUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select business_code,account_balance,business_name,business_level,wx_nc from business_user where business_code = #{businessCode,jdbcType=VARCHAR}
  </select>
  <select id="selectLevel1Count" resultType="java.lang.Integer">
  	select count(1) from business_user where  business_level = 1 and status_code = 2
  </select>
</mapper>