<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.sale.mapper.BusinessAddressMapper" >
  <resultMap id="BaseResultMap" type="com.ym.sale.entity.BusinessAddress" >
    <id column="address_code" property="addressCode" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_area" property="receiverArea" jdbcType="VARCHAR" />
    <result column="rceiver_address" property="rceiverAddress" jdbcType="VARCHAR" />
    <result column="receiver_default" property="receiverDefault" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    address_code, business_code, receiver_name, receiver_phone, receiver_province, receiver_city, 
    receiver_area, rceiver_address, receiver_default, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_address
    where address_code = #{addressCode,jdbcType=VARCHAR}
  </select>
 
  
   <select id="selectByAddressCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_address
    where address_code = #{addressCode,jdbcType=VARCHAR}
  </select>
  
    <select id="selectByBussinessCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_address
    where business_code = #{bussinessCode,jdbcType=VARCHAR}
  </select>
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from business_address
    where address_code = #{addressCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ym.sale.entity.BusinessAddress" >
    insert into business_address (address_code, business_code, receiver_name, 
      receiver_phone, receiver_province, receiver_city, 
      receiver_area, rceiver_address, receiver_default, 
      update_time, create_time)
    values (#{addressCode,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{receiverProvince,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, 
      #{receiverArea,jdbcType=VARCHAR}, #{rceiverAddress,jdbcType=VARCHAR}, #{receiverDefault,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ym.sale.entity.BusinessAddress" >
    insert into business_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressCode != null" >
        address_code,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverPhone != null" >
        receiver_phone,
      </if>
      <if test="receiverProvince != null" >
        receiver_province,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverArea != null" >
        receiver_area,
      </if>
      <if test="rceiverAddress != null" >
        rceiver_address,
      </if>
      <if test="receiverDefault != null" >
        receiver_default,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressCode != null" >
        #{addressCode,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverArea != null" >
        #{receiverArea,jdbcType=VARCHAR},
      </if>
      <if test="rceiverAddress != null" >
        #{rceiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverDefault != null" >
        #{receiverDefault,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.BusinessAddress" >
    update business_address
    <set >
      <if test="businessCode != null" >
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null" >
        receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverArea != null" >
        receiver_area = #{receiverArea,jdbcType=VARCHAR},
      </if>
      <if test="rceiverAddress != null" >
        rceiver_address = #{rceiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverDefault != null" >
        receiver_default = #{receiverDefault,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where address_code = #{addressCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.BusinessAddress" >
    update business_address
    set business_code = #{businessCode,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_area = #{receiverArea,jdbcType=VARCHAR},
      rceiver_address = #{rceiverAddress,jdbcType=VARCHAR},
      receiver_default = #{receiverDefault,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where address_code = #{addressCode,jdbcType=VARCHAR}
  </update>
</mapper>