<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ym.sale.mapper.BusinessRebateRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ym.sale.entity.BusinessRebateRecord" >
    <id column="rebate_record_code" property="rebateRecordCode" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="first_partner_name" property="firstPartnerName" jdbcType="VARCHAR" />
    <result column="first_partner_rebate_amount" property="firstPartnerRebateAmount" jdbcType="DECIMAL" />
    <result column="second_partner_name" property="secondPartnerName" jdbcType="VARCHAR" />
    <result column="second_partner_rebate_amount" property="secondPartnerRebateAmount" jdbcType="DECIMAL" />
    <result column="is_e_user" property="isEUser" jdbcType="INTEGER" />
     <result column="e_user_partner_name" property="euserPartnerName" jdbcType="INTEGER" />
     <result column="e_partner_rebate_amount" property="euserPartnerRebateAmount" jdbcType="DECIMAL" />
    <result column="halfyear_rebate_amount" property="halfyearRebateAmount" jdbcType="DECIMAL" />
    <result column="rebate_type" property="rebateType" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
     <result column="is_addbanlance" property="isAddBanlance" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    rebate_record_code, business_code, business_name, first_partner_name, first_partner_rebate_amount, 
    second_partner_name, second_partner_rebate_amount, is_e_user, halfyear_rebate_amount,e_user_partner_name,e_partner_rebate_amount,
    rebate_type, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_rebate_record
    where rebate_record_code = #{rebateRecordCode,jdbcType=VARCHAR}
  </select>
  
   <select id="getBusinessRebateRecordList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from business_rebate_record
    where 1=1
     <if test="businessCode != null" >
        and   business_code=#{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
      and   business_name=#{businessName,jdbcType=VARCHAR},
      </if>
      <if test="firstPartnerName != null" >
        and    first_partner_name= #{firstPartnerName,jdbcType=VARCHAR},
      </if>
      
      <if test="secondPartnerName != null" >
        and    second_partner_name= #{secondPartnerName,jdbcType=VARCHAR},
      </if>
    
        order by  create_time  desc
  </select>
   
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from business_rebate_record
    where rebate_record_code = #{rebateRecordCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ym.sale.entity.BusinessRebateRecord" >
    insert into business_rebate_record (rebate_record_code, business_code, business_name, 
      first_partner_name, first_partner_rebate_amount, 
      second_partner_name, second_partner_rebate_amount, 
      is_e_user, halfyear_rebate_amount, rebate_type, 
      update_time, create_time,e_user_partner_name,e_partner_rebate_amount,is_addbanlance)
    values (#{rebateRecordCode,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, 
      #{firstPartnerName,jdbcType=VARCHAR}, #{firstPartnerRebateAmount,jdbcType=DECIMAL}, 
      #{secondPartnerName,jdbcType=VARCHAR}, #{secondPartnerRebateAmount,jdbcType=DECIMAL}, 
      #{isEUser,jdbcType=INTEGER}, #{halfyearRebateAmount,jdbcType=DECIMAL}, #{rebateType,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP},
       #{createTime,jdbcType=TIMESTAMP},
        #{euserPartnerName,jdbcType=VARCHAR},
        #{euserPartnerRebateAmount,jdbcType=DECIMAL}, #{isAddBanlance,jdbcType=INTEGER} )
  </insert>
  <insert id="insertSelective" parameterType="com.ym.sale.entity.BusinessRebateRecord" >
    insert into business_rebate_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rebateRecordCode != null" >
        rebate_record_code,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="firstPartnerName != null" >
        first_partner_name,
      </if>
      <if test="firstPartnerRebateAmount != null" >
        first_partner_rebate_amount,
      </if>
      <if test="secondPartnerName != null" >
        second_partner_name,
      </if>
      <if test="secondPartnerRebateAmount != null" >
        second_partner_rebate_amount,
      </if>
      <if test="isEUser != null" >
        is_e_user,
      </if>
      <if test="halfyearRebateAmount != null" >
        halfyear_rebate_amount,
      </if>
      <if test="rebateType != null" >
        rebate_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      
      <if test="euserPartnerName != null" >
        e_user_partner_name,
      </if>
      <if test="euserPartnerRebateAmount != null" >
        e_partner_rebate_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rebateRecordCode != null" >
        #{rebateRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="firstPartnerName != null" >
        #{firstPartnerName,jdbcType=VARCHAR},
      </if>
      <if test="firstPartnerRebateAmount != null" >
        #{firstPartnerRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="secondPartnerName != null" >
        #{secondPartnerName,jdbcType=VARCHAR},
      </if>
      <if test="secondPartnerRebateAmount != null" >
        #{secondPartnerRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="isEUser != null" >
        #{isEUser,jdbcType=INTEGER},
      </if>
      <if test="halfyearRebateAmount != null" >
        #{halfyearRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="rebateType != null" >
        #{rebateType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      
       <if test="euserPartnerName != null" >
        e_user_partner_name,
      </if>
      <if test="euserPartnerRebateAmount != null" >
        e_partner_rebate_amount,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ym.sale.entity.BusinessRebateRecord" >
    update business_rebate_record
    <set >
      <if test="businessCode != null" >
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="firstPartnerName != null" >
        first_partner_name = #{firstPartnerName,jdbcType=VARCHAR},
      </if>
      <if test="firstPartnerRebateAmount != null" >
        first_partner_rebate_amount = #{firstPartnerRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="secondPartnerName != null" >
        second_partner_name = #{secondPartnerName,jdbcType=VARCHAR},
      </if>
      <if test="secondPartnerRebateAmount != null" >
        second_partner_rebate_amount = #{secondPartnerRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="isEUser != null" >
        is_e_user = #{isEUser,jdbcType=INTEGER},
      </if>
      <if test="halfyearRebateAmount != null" >
        halfyear_rebate_amount = #{halfyearRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="rebateType != null" >
        rebate_type = #{rebateType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rebate_record_code = #{rebateRecordCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ym.sale.entity.BusinessRebateRecord" >
    update business_rebate_record
    set business_code = #{businessCode,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      first_partner_name = #{firstPartnerName,jdbcType=VARCHAR},
      first_partner_rebate_amount = #{firstPartnerRebateAmount,jdbcType=DECIMAL},
      second_partner_name = #{secondPartnerName,jdbcType=VARCHAR},
      second_partner_rebate_amount = #{secondPartnerRebateAmount,jdbcType=DECIMAL},
      is_e_user = #{isEUser,jdbcType=INTEGER},
      halfyear_rebate_amount = #{halfyearRebateAmount,jdbcType=DECIMAL},
      rebate_type = #{rebateType,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where rebate_record_code = #{rebateRecordCode,jdbcType=VARCHAR}
  </update>
  <select id="selectTotalFirstJoinValueByCode" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	select sum(first_partner_rebate_amount) from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 0
  </select>
  <select id="selectTotalSecondJoinValueByCode" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	select sum(second_partner_rebate_amount) from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 0
  </select>
  <select id="selectJoinRebateRecordListByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from business_rebate_record where  business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 0 order by create_time
  </select>
  <select id="selectTotalFirstSaleValueByCode" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	select sum(first_partner_rebate_amount) from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 1
  </select>
  <select id="selectTotalSecondSaleValueByCode" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	select sum(second_partner_rebate_amount) from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 1
  </select>
  <select id="selectTotalEUserSaleValueByCode" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	select sum(e_partner_rebate_amount) from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 1
  </select>
  <select id="selectSaleRebateRecordListByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from business_rebate_record where  business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 1 order by create_time
  </select>
  <select id="selectTotalHalfYearValueByCode" parameterType="java.lang.String" resultType="java.math.BigDecimal">
  	select sum(halfyear_rebate_amount) from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 2
  </select>
  <select id="selectHalfYearRecordListByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from business_rebate_record where business_code = #{businessCode,jdbcType=VARCHAR} and rebate_type = 2
  </select>
</mapper>