<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.mobile.mapper.QquestionNaireMapper">
	<resultMap id="BaseResultMap"
		type="com.hp.mobile.entity.QquestionNaire">
		<id column="object_id" jdbcType="BIGINT" property="objectId" />
		<result column="create_time" jdbcType="DATE"
			property="createTime" />
		<result column="create_user" jdbcType="VARCHAR"
			property="createUser" />
		<result column="update_time" jdbcType="DATE"
			property="updateTime" />
		<result column="update_user" jdbcType="VARCHAR"
			property="updateUser" />
		<result column="deleted" jdbcType="TINYINT" property="deleted" />
		<result column="anonymous" jdbcType="TINYINT"
			property="anonymous" />
		<result column="forward" jdbcType="TINYINT" property="forward" />
		<result column="repeated_answer" jdbcType="TINYINT"
			property="repeatedAnswer" />
		<result column="answer_count" jdbcType="SMALLINT"
			property="answerCount" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="questionnaire_desc" jdbcType="VARCHAR"
			property="questionnaireDesc" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="cover" jdbcType="VARCHAR" property="cover" />
		<result column="enable" jdbcType="TINYINT" property="enable" />
		<result column="back_color" jdbcType="VARCHAR"
			property="backColor" />
		<result column="is_public" jdbcType="TINYINT"
			property="isPubic" />
		<result column="start_time" jdbcType="DATE"
			property="startTime" />
		<result column="end_time" jdbcType="DATE" property="endTime" />
		<result column="is_public" jdbcType="TINYINT"
			property="ispublic" />

		<result column="end_image" jdbcType="VARCHAR"
			property="endimage" />
		<result column="end_is_show" jdbcType="TINYINT"
			property="endisshow" />
		<result column="cover_is_show" jdbcType="TINYINT"
			property="coverisshow" />
		<result column="end_image_desc" jdbcType="VARCHAR"
			property="endimagedesc" />

	</resultMap>
	<sql id="Base_Column_List">
		object_id, create_time, create_user, update_time, update_user, deleted,
		anonymous,
		forward, repeated_answer, answer_count, title, questionnaire_desc, icon,
		cover, enable,
		back_color,is_public, start_time,end_time,is_public,
		end_image,end_is_show,cover_is_show,end_image_desc
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_questionnaire
		where object_id = #{objectId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_questionnaire
		where object_id = #{objectId,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.hp.mobile.entity.QquestionNaire">
		insert into t_questionnaire (object_id, create_time, create_user,
		update_time, update_user, deleted,
		anonymous, forward, repeated_answer,
		answer_count, title, questionnaire_desc,
		icon, cover, enable,
		back_color)
		values (#{objectId,jdbcType=BIGINT}, #{createTime,jdbcType=DATE},
		#{createUser,jdbcType=VARCHAR},
		#{updateTime,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT},
		#{anonymous,jdbcType=TINYINT}, #{forward,jdbcType=TINYINT},
		#{repeatedAnswer,jdbcType=TINYINT},
		#{answerCount,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{questionnaireDesc,jdbcType=VARCHAR},
		#{icon,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR},
		#{enable,jdbcType=TINYINT},
		#{backColor,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.hp.mobile.entity.QquestionNaire">
		insert into t_questionnaire
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="objectId != null">
				object_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="anonymous != null">
				anonymous,
			</if>
			<if test="forward != null">
				forward,
			</if>
			<if test="repeatedAnswer != null">
				repeated_answer,
			</if>
			<if test="answerCount != null">
				answer_count,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="questionnaireDesc != null">
				questionnaire_desc,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="cover != null">
				cover,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="backColor != null">
				back_color,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="objectId != null">
				#{objectId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=TINYINT},
			</if>
			<if test="anonymous != null">
				#{anonymous,jdbcType=TINYINT},
			</if>
			<if test="forward != null">
				#{forward,jdbcType=TINYINT},
			</if>
			<if test="repeatedAnswer != null">
				#{repeatedAnswer,jdbcType=TINYINT},
			</if>
			<if test="answerCount != null">
				#{answerCount,jdbcType=SMALLINT},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="questionnaireDesc != null">
				#{questionnaireDesc,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="cover != null">
				#{cover,jdbcType=VARCHAR},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=TINYINT},
			</if>
			<if test="backColor != null">
				#{backColor,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.hp.mobile.entity.QquestionNaire">
		update t_questionnaire
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=DATE},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=TINYINT},
			</if>
			<if test="anonymous != null">
				anonymous = #{anonymous,jdbcType=TINYINT},
			</if>
			<if test="forward != null">
				forward = #{forward,jdbcType=TINYINT},
			</if>
			<if test="repeatedAnswer != null">
				repeated_answer = #{repeatedAnswer,jdbcType=TINYINT},
			</if>
			<if test="answerCount != null">
				answer_count = #{answerCount,jdbcType=SMALLINT},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="questionnaireDesc != null">
				questionnaire_desc = #{questionnaireDesc,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="cover != null">
				cover = #{cover,jdbcType=VARCHAR},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=TINYINT},
			</if>
			<if test="backColor != null">
				back_color = #{backColor,jdbcType=VARCHAR},
			</if>
		</set>
		where object_id = #{objectId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.hp.mobile.entity.QquestionNaire">
		update t_questionnaire
		set create_time = #{createTime,jdbcType=DATE},
		create_user = #{createUser,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=DATE},
		update_user = #{updateUser,jdbcType=VARCHAR},
		deleted = #{deleted,jdbcType=TINYINT},
		anonymous = #{anonymous,jdbcType=TINYINT},
		forward = #{forward,jdbcType=TINYINT},
		repeated_answer = #{repeatedAnswer,jdbcType=TINYINT},
		answer_count = #{answerCount,jdbcType=SMALLINT},
		title = #{title,jdbcType=VARCHAR},
		questionnaire_desc = #{questionnaireDesc,jdbcType=VARCHAR},
		icon = #{icon,jdbcType=VARCHAR},
		cover = #{cover,jdbcType=VARCHAR},
		enable = #{enable,jdbcType=TINYINT},
		back_color = #{backColor,jdbcType=VARCHAR}
		where object_id = #{objectId,jdbcType=BIGINT}
	</update>
</mapper>