<!DOCTYPE html>
<html>
<head>
<title>角色管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/layui-v2.4.5/layui/css/layui.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../plugins/layui-v2.4.5/layui/layui.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/baseURL.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.title" @keyup.enter="query" placeholder="问卷标题搜索">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<!--v-if="hasPermission('sys:role:update')"-->
			<a  class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a  class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a  class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">问卷标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="questionnaire.title" placeholder="问卷标题"/>

					<!--<select id="disabledSelect" class="form-control">-->
					<!--<option value="">请选择</option>-->
						<!--<option value="1">滴滴安全问卷</option>-->
						<!--<option value="2">美团打车安全问卷</option>-->
					<!--</select>-->
			    </div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">问卷调查数量</div>
				<div class="col-sm-10">
					<input type="tel" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" v-model="questionnaire.answerCount" />
				</div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">封面描述</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="role.remark" placeholder="问卷描述"/>-->
					<textarea name="description" class="form-control" v-model="questionnaire.questionnaireDesc" rows="3"></textarea>
			    </div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label">尾页描述</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="问卷描述"/>-->
					<textarea name="description2" class="form-control" v-model="questionnaire.endImageDesc" rows="3"></textarea>
				</div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否转发</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否转发"/>-->
				<label class="radio-inline">
					<input type="radio" name="IsForward" value="0" v-model="questionnaire.forward"> 转发
				</label>
				<label class="radio-inline">
					<input type="radio" name="IsForward" value="1" v-model="questionnaire.forward"> 不转发
				</label>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否重复答题</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否重复答题"/>-->

					<label class="radio-inline">
						<input type="radio" name="is_reply"  value="0" v-model="questionnaire.repeatedAnswer"> 不支持
					</label>
					<label class="radio-inline">
						<input type="radio" name="is_reply"  value="1" v-model="questionnaire.repeatedAnswer"> 支持
					</label>

			    </div>
			</div>

			<!--置顶问题-->
			<!--<div class="form-group">-->
				<!--<div class="col-sm-2 control-label">是否置顶</div>-->
				<!--<div class="col-sm-10">-->
					<!--&lt;!&ndash;<input type="text" class="form-control" v-model="role.remark" placeholder="是否重复答题"/>&ndash;&gt;-->

					<!--<label class="radio-inline">-->
						<!--<input type="radio" name="is_top"  value="0" v-model="questionnaire.questionnaireIsTop"> 否-->
					<!--</label>-->
					<!--<label class="radio-inline">-->
						<!--<input type="radio" name="is_top"  value="1" v-model="questionnaire.questionnaireIsTop"> 是-->
					<!--</label>-->

				<!--</div>-->
			<!--</div>-->

			<div class="form-group">
				<div class="col-sm-2 control-label">题目翻转样式</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否重复答题"/>-->

					<label class="radio-inline">
						<input type="radio" name="style_status"  value="0" v-model="questionnaire.questionnaireStyleStatus"> 显示所有题目
					</label>
					<label class="radio-inline">
						<input type="radio" name="style_status"  value="1" v-model="questionnaire.questionnaireStyleStatus"> 左右滑动
					</label>
					<label class="radio-inline">
						<input type="radio" name="style_status"  value="2" v-model="questionnaire.questionnaireStyleStatus"> 点击翻动
					</label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">问卷是否启用</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否重复答题"/>-->

					<label class="radio-inline">
						<input type="radio" name="enable"  value="0" v-model="questionnaire.enable"> 不启用
					</label>
					<label class="radio-inline">
						<input type="radio" name="enable"  value="1" v-model="questionnaire.enable"> 启用
					</label>

				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-2 control-label">尾页是否显示</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否匿名"/>-->
					<label class="radio-inline">
						<input type="radio" name="end_show"  value="0"  v-model="questionnaire.endIsShow"> 不显示
					</label>
					<label class="radio-inline">
						<input type="radio" name="end_show"  value="1" v-model="questionnaire.endIsShow"> 显示
					</label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">封面是否显示</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否匿名"/>-->
					<label class="radio-inline">
						<input type="radio" name="cover_show"  value="0"  v-model="questionnaire.coverIsShow"> 不显示
					</label>
					<label class="radio-inline">
						<input type="radio" name="cover_show"  value="1" v-model="questionnaire.coverIsShow"> 显示
					</label>
				</div>
			</div>



			<div class="form-group">
				<div class="col-sm-2 control-label">是否公开</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否重复答题"/>-->

					<label class="radio-inline">
						<input type="radio" name="is_public"  value="1" v-model="questionnaire.isPublic"> 公开
					</label>
					<label class="radio-inline">
						<input type="radio" name="is_public"  value="0" v-model="questionnaire.isPublic"> 不公开
					</label>
				</div>
			</div>



			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">是否匿名</div>
			   	<div class="col-sm-10">
			      <!--<input type="text" class="form-control" v-model="role.remark" placeholder="是否匿名"/>-->
					<label class="radio-inline">
						<input type="radio" name="is_anonymous"  value="0"  v-model="questionnaire.anonymous"> 记名
					</label>
					<label class="radio-inline">
						<input type="radio" name="is_anonymous"  value="1" v-model="questionnaire.anonymous"> 匿名
					</label>
			    </div>
			</div>



			<div class="form-group">
				<div class="col-sm-2 control-label">问卷图片</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="问卷图片"/>-->


					<div class="layui-upload">
						<!-- <button type="button" class="layui-btn" >上传图片</button> -->
						<div class="layui-upload-list" id="imgupload">
							<i class="layui-icon layui-icon-add-1"></i>
							<img class="layui-upload-img" id="imguploadpreview1">
					</div>
					</div>
					<input type="hidden" id="imgupload1">

				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">问卷封面设置</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="role.remark" placeholder="问卷封面设置"/>-->

					<div class="layui-upload">
						<!-- <button type="button" class="layui-btn" >上传图片</button> -->
						<div class="layui-upload-list" id="backupload">
							<i class="layui-icon layui-icon-add-1"></i>
							<img class="layui-upload-img" id="imguploadpreview2">
						</div>
					</div>
					<input type="hidden" id="imgupload2">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">题目背景</div>
				<div class="col-sm-10">
					<div class="layui-upload">
						<!-- <button type="button" class="layui-btn" >上传图片</button> -->
						<div class="layui-upload-list" id="questionImgUpload">
							<i class="layui-icon layui-icon-add-1"></i>
							<img class="layui-upload-img" id="imguploadpreview3">
						</div>
					</div>
					<input type="hidden" id="imgupload3">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">尾页图片</div>
				<div class="col-sm-10">
					<div class="layui-upload">
						<!-- <button type="button" class="layui-btn" >上传图片</button> -->
						<div class="layui-upload-list" id="endImgUpload">
							<i class="layui-icon layui-icon-add-1"></i>
							<img class="layui-upload-img" id="imguploadpreview4">
						</div>
					</div>
					<input type="hidden" id="imgupload4">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">活动时间</div>
				<div class="col-sm-10">
					<input type="text" class="layui-input" id="startTime" readonly="readonly">
				</div>
			</div>

			<!--<div class="form-group">-->
				<!--<div class="col-sm-2 control-label">截止时间</div>-->
				<!--<div class="col-sm-10">-->
					<!--<input type="text" class="layui-input" id="endTime">-->
				<!--</div>-->
			<!--</div>-->
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdateQuestionnaire" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
   
<script src="../../js/modules/sys/questionnaire.js"></script>
</body>
</html>